.body {
    margin: 0;
    padding: 0;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}
.container-input{
    display: flex;
}

.desctiption{
    font-size: 30px;
    color: #0d356c;
    font-weight: normal;
    margin-bottom: 20px;
}

.description{
    font-size: 22px;
    color: #000;
    font-weight: think;
    border: 1px solid whitesmoke;
    padding: 10px;
}

.btns-change{
    margin: 0px 15px 30px 0px;
    padding: 10px 18px;
    border: 1px solid #0d356c;
    background-color: #0d356c;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    color: white;
    
}

.btns-change:hover {
    transition: 0.4s;
    border: 1px solid #0d356c;
    background-color: white;
    color: #0d356c;
}

.out-number {
    text-align: center;
    font-size: 35px;
    color: #0d356c;
    margin-bottom: 10px;
}